{% extends "base.twig" %}

{% block title %}Home{% endblock %}

{% block styles %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ full_url_for('home') }}assets/css/home.css"/>
{% endblock %}

{% block intro %}
    <style>
        .intro{
            background-image: url('{{ full_url_for('home') }}assets/media/image/background.jpg');"
        }
    </style>
    <div class="intro">
            <p>LA FORMA MÁS SEGURA Y FÁCIL DE PAGAR EN INTERNET SIN REVELAR TU NÚMERO DE TARJETA DE CRÉDITO</p>
    </div>
{% endblock %}

{% block content %}
    
	{% if notifications is not empty %}
		<ol>
			{% for notification in notifications %}
				<li>{{ notification }}</li>
			{% endfor %}
		</ol>
	{% endif %}

    <h2 class="first">Busques lo que busques, tenemos la solución perfecta.</h2>


    <div class="info">
        <div class="item">
            
            <svg fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="64px" height="64px">    <path d="M 32 2 C 29.43 2.011 26.907453 2.701 24.689453 4 C 20.999453 4.14 18.42 6.7603906 18 10.900391 C 17.815 12.765391 17.859859 14.646 18.130859 16.5 C 18.184859 16.831 18.214703 17.165 18.220703 17.5 C 18.220703 17.687 18.190859 17.873547 18.130859 18.060547 C 17.982859 18.064547 17.833453 18.083141 17.689453 18.119141 C 16.039453 18.559141 15.349844 20.970469 16.089844 23.730469 C 16.629844 25.730469 17.750703 27.230469 18.970703 27.730469 C 19.593703 29.588469 20.449531 31.358 21.519531 33 L 21.517578 33.001953 C 21.570799 33.109796 21.655662 33.240098 21.736328 33.367188 L 8.2929688 39.388672 C 4.4699688 41.197672 2 45.100125 2 49.328125 L 2 57 C 2 58.654 3.346 60 5 60 L 59 60 C 60.654 60 62 58.654 62 57 L 62 49.328125 C 62 45.100125 59.531453 41.197906 55.689453 39.378906 L 42.240234 33.355469 C 42.328999 33.223563 42.480469 33 42.480469 33 C 43.539469 31.357 44.386 29.586469 45 27.730469 C 46.23 27.270469 47.350859 25.730469 47.880859 23.730469 C 48.620859 20.980469 47.879297 18.569141 46.279297 18.119141 C 46.138297 18.083141 45.994609 18.064547 45.849609 18.060547 C 45.677609 16.881547 45.369688 15.726141 44.929688 14.619141 L 44.929688 14.509766 C 45.403687 14.566766 45.868547 14.687141 46.310547 14.869141 C 46.820547 15.081141 47.405188 14.840078 47.617188 14.330078 C 47.696188 14.140078 47.713922 13.930469 47.669922 13.730469 C 45.999922 6.4104687 40.56 2 33 2 L 32 2 z M 32 4 L 33 4 C 39.07 4 43.45 7.1000781 45.25 12.580078 C 44.577 12.449078 43.879609 12.625547 43.349609 13.060547 C 42.773609 13.687547 42.657547 14.609375 43.060547 15.359375 C 43.593547 16.653375 43.898937 18.031687 43.960938 19.429688 C 43.988937 19.981687 44.458766 20.406906 45.009766 20.378906 C 45.183766 20.369906 45.352047 20.315703 45.498047 20.220703 C 45.578047 20.160703 45.671531 20.118609 45.769531 20.099609 C 46.010531 20.179609 46.449219 21.4 45.949219 23.25 C 45.449219 25.1 44.510703 25.869141 44.220703 25.869141 C 43.761703 25.851141 43.348703 26.148844 43.220703 26.589844 C 41.590703 32.259844 37.18 38 32 38 C 26.82 38 22.410703 32.259609 20.720703 26.599609 C 20.597703 26.176609 20.210531 25.884859 19.769531 25.880859 L 19.75 25.880859 C 19.46 25.880859 18.509531 25.099766 18.019531 23.259766 C 17.529531 21.419766 17.969219 20.169375 18.199219 20.109375 C 18.298219 20.126375 18.391703 20.168469 18.470703 20.230469 C 18.938703 20.523469 19.554656 20.382063 19.847656 19.914062 C 19.938656 19.768062 19.991 19.601688 20 19.429688 C 20.024 18.913688 20.080922 18.399625 20.169922 17.890625 C 20.221922 17.342625 20.194844 16.79 20.089844 16.25 C 19.850844 14.543 19.821 12.813609 20 11.099609 C 20.31 7.9096094 22.19 6 25 6 C 25.216 6 25.426609 5.9307812 25.599609 5.8007812 C 27.522609 4.6137813 29.74 3.99 32 4 z M 26.171875 10.125 C 25.582197 10.178984 25.024687 10.493281 24.679688 11.019531 L 23.080078 13.449219 C 22.784078 13.915219 22.922672 14.534078 23.388672 14.830078 C 23.843672 15.119078 24.446 14.995781 24.75 14.550781 L 26.349609 12.119141 L 27.919922 12.880859 C 30.783922 14.270859 33.925375 14.995 37.109375 15 L 39.660156 15 C 40.212156 15 40.660156 14.552 40.660156 14 C 40.660156 13.448 40.212156 13 39.660156 13 L 37.109375 13 C 34.226375 12.996 31.382062 12.339078 28.789062 11.080078 L 27.230469 10.320312 C 26.891094 10.154563 26.525682 10.092609 26.171875 10.125 z M 22.974609 35.001953 C 25.399749 37.936294 28.529301 40 32 40 C 35.47276 40 38.603538 37.93277 41.029297 35.003906 L 54.851562 41.195312 C 57.978562 42.676312 60 45.868125 60 49.328125 L 60 57 C 60 57.551 59.551 58 59 58 L 5 58 C 4.449 58 4 57.551 4 57 L 4 49.328125 C 4 45.871125 6.0166719 42.682219 9.1386719 41.199219 L 22.974609 35.001953 z M 7 52 C 6.448 52 6 52.448 6 53 L 6 55 C 6 55.552 6.448 56 7 56 C 7.552 56 8 55.552 8 55 L 8 53 C 8 52.448 7.552 52 7 52 z M 12 52 C 11.448 52 11 52.448 11 53 L 11 55 C 11 55.552 11.448 56 12 56 C 12.552 56 13 55.552 13 55 L 13 53 C 13 52.448 12.552 52 12 52 z M 17 52 C 16.448 52 16 52.448 16 53 L 16 55 C 16 55.552 16.448 56 17 56 C 17.552 56 18 55.552 18 55 L 18 53 C 18 52.448 17.552 52 17 52 z M 22 52 C 21.448 52 21 52.448 21 53 L 21 55 C 21 55.552 21.448 56 22 56 C 22.552 56 23 55.552 23 55 L 23 53 C 23 52.448 22.552 52 22 52 z M 27 52 C 26.448 52 26 52.448 26 53 L 26 55 C 26 55.552 26.448 56 27 56 C 27.552 56 28 55.552 28 55 L 28 53 C 28 52.448 27.552 52 27 52 z M 32 52 C 31.448 52 31 52.448 31 53 L 31 55 C 31 55.552 31.448 56 32 56 C 32.552 56 33 55.552 33 55 L 33 53 C 33 52.448 32.552 52 32 52 z M 37 52 C 36.448 52 36 52.448 36 53 L 36 55 C 36 55.552 36.448 56 37 56 C 37.552 56 38 55.552 38 55 L 38 53 C 38 52.448 37.552 52 37 52 z M 42 52 C 41.448 52 41 52.448 41 53 L 41 55 C 41 55.552 41.448 56 42 56 C 42.552 56 43 55.552 43 55 L 43 53 C 43 52.448 42.552 52 42 52 z M 47 52 C 46.448 52 46 52.448 46 53 L 46 55 C 46 55.552 46.448 56 47 56 C 47.552 56 48 55.552 48 55 L 48 53 C 48 52.448 47.552 52 47 52 z M 52 52 C 51.448 52 51 52.448 51 53 L 51 55 C 51 55.552 51.448 56 52 56 C 52.552 56 53 55.552 53 55 L 53 53 C 53 52.448 52.552 52 52 52 z M 57 52 C 56.448 52 56 52.448 56 53 L 56 55 C 56 55.552 56.448 56 57 56 C 57.552 56 58 55.552 58 55 L 58 53 C 58 52.448 57.552 52 57 52 z"/></svg>
            <h4>Particulares</h3>
            <p>Paga con PwPay en miles de sitios web y envía dinero gratis a tus amigos y familiares en solo unos clics.</p>
        </div>

        <div class="item">
            <svg fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="54px" height="54px"><path d="M 26.828125 6 C 26.027344 6 25.273438 6.3125 24.707031 6.878906 L 22.878906 8.707031 C 22.3125 9.273438 22 10.027344 22 10.828125 L 22 12 L 12.65625 12 C 11.320313 12 10.066406 12.519531 9.121094 13.464844 L 6.296875 16.292969 L 6.292969 16.296875 L 3.464844 19.121094 C 2.519531 20.066406 2 21.320313 2 22.65625 L 2 53 C 2 54.652344 3.347656 56 5 56 L 59 56 C 60.652344 56 62 54.652344 62 53 L 62 22.65625 C 62 21.320313 61.480469 20.066406 60.535156 19.121094 L 57.707031 16.296875 L 57.703125 16.292969 L 54.878906 13.464844 C 53.933594 12.519531 52.679688 12 51.34375 12 L 42 12 L 42 10.828125 C 42 10.027344 41.6875 9.273438 41.121094 8.707031 L 39.292969 6.878906 C 38.726563 6.3125 37.972656 6 37.171875 6 Z M 26.828125 8 L 37.171875 8 C 37.4375 8 37.691406 8.105469 37.878906 8.292969 L 39.707031 10.121094 C 39.890625 10.308594 40 10.566406 40 10.828125 L 40 12 L 24 12 L 24 10.828125 C 24 10.566406 24.105469 10.308594 24.292969 10.121094 L 26.121094 8.292969 C 26.308594 8.105469 26.5625 8 26.828125 8 Z M 12.65625 14 L 51.34375 14 C 52.132813 14 52.90625 14.320313 53.464844 14.878906 L 56 17.414063 L 56 19 C 56 19.554688 56.449219 20 57 20 C 57.429688 20 57.789063 19.726563 57.929688 19.34375 L 59.121094 20.535156 C 59.6875 21.101563 60 21.855469 60 22.65625 L 60 30 L 52 30 C 52 28.898438 51.101563 28 50 28 L 44 28 C 42.898438 28 42 28.898438 42 30 L 22 30 C 22 28.898438 21.101563 28 20 28 L 14 28 C 12.898438 28 12 28.898438 12 30 L 4 30 L 4 22.65625 C 4 21.855469 4.3125 21.101563 4.878906 20.535156 L 6.070313 19.34375 C 6.210938 19.726563 6.570313 20 7 20 C 7.550781 20 8 19.554688 8 19 L 8 17.414063 L 10.535156 14.878906 C 11.09375 14.320313 11.867188 14 12.65625 14 Z M 12 16 C 11.449219 16 11 16.445313 11 17 L 11 19 C 11 19.554688 11.449219 20 12 20 C 12.550781 20 13 19.554688 13 19 L 13 17 C 13 16.445313 12.550781 16 12 16 Z M 17 16 C 16.449219 16 16 16.445313 16 17 L 16 19 C 16 19.554688 16.449219 20 17 20 C 17.550781 20 18 19.554688 18 19 L 18 17 C 18 16.445313 17.550781 16 17 16 Z M 22 16 C 21.449219 16 21 16.445313 21 17 L 21 19 C 21 19.554688 21.449219 20 22 20 C 22.550781 20 23 19.554688 23 19 L 23 17 C 23 16.445313 22.550781 16 22 16 Z M 27 16 C 26.449219 16 26 16.445313 26 17 L 26 19 C 26 19.554688 26.449219 20 27 20 C 27.550781 20 28 19.554688 28 19 L 28 17 C 28 16.445313 27.550781 16 27 16 Z M 32 16 C 31.449219 16 31 16.445313 31 17 L 31 19 C 31 19.554688 31.449219 20 32 20 C 32.550781 20 33 19.554688 33 19 L 33 17 C 33 16.445313 32.550781 16 32 16 Z M 37 16 C 36.449219 16 36 16.445313 36 17 L 36 19 C 36 19.554688 36.449219 20 37 20 C 37.550781 20 38 19.554688 38 19 L 38 17 C 38 16.445313 37.550781 16 37 16 Z M 42 16 C 41.449219 16 41 16.445313 41 17 L 41 19 C 41 19.554688 41.449219 20 42 20 C 42.550781 20 43 19.554688 43 19 L 43 17 C 43 16.445313 42.550781 16 42 16 Z M 47 16 C 46.449219 16 46 16.445313 46 17 L 46 19 C 46 19.554688 46.449219 20 47 20 C 47.550781 20 48 19.554688 48 19 L 48 17 C 48 16.445313 47.550781 16 47 16 Z M 52 16 C 51.449219 16 51 16.445313 51 17 L 51 19 C 51 19.554688 51.449219 20 52 20 C 52.550781 20 53 19.554688 53 19 L 53 17 C 53 16.445313 52.550781 16 52 16 Z M 14 30 L 20 30 L 20 34 L 14 34 Z M 44 30 L 50 30 L 50 34 L 44 34 Z M 4 32 L 12 32 L 12 34 C 12 35.101563 12.898438 36 14 36 L 20 36 C 21.101563 36 22 35.101563 22 34 L 22 32 L 42 32 L 42 34 C 42 35.101563 42.898438 36 44 36 L 50 36 C 51.101563 36 52 35.101563 52 34 L 52 32 L 60 32 L 60 53 C 60 53.550781 59.550781 54 59 54 L 5 54 C 4.449219 54 4 53.550781 4 53 Z M 7 50 C 6.449219 50 6 50.445313 6 51 C 6 51.554688 6.449219 52 7 52 L 49 52 C 49.550781 52 50 51.554688 50 51 C 50 50.445313 49.550781 50 49 50 Z M 53 50 C 52.449219 50 52 50.445313 52 51 C 52 51.554688 52.449219 52 53 52 L 57 52 C 57.550781 52 58 51.554688 58 51 C 58 50.445313 57.550781 50 57 50 Z"/></svg>    
            <h4>Empresas</h3>
            <p>Hay más de 22 millones de cuentas activas en todo el mundo. Ofrece la forma de pago sencilla y segura.</p>
        </div>

        <div class="item">
            <svg fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="54px" height="54px"><path d="M 31 4 C 20.523438 4 12 12.523438 12 23 C 12 27.972656 14.78125 31.6875 17.472656 35.28125 C 19.621094 38.152344 21.644531 40.886719 22 44 L 22 51 C 22 54.519531 24.613281 57.433594 28 57.921875 L 28 59 C 28 60.101563 28.898438 61 30 61 L 32 61 C 33.101563 61 34 60.101563 34 59 L 34 57.921875 C 37.386719 57.433594 40 54.519531 40 51 L 40 44.898438 C 40.015625 41.402344 42.222656 38.429688 44.5625 35.28125 C 47.238281 31.6875 50 27.972656 50 23 C 50 12.523438 41.476563 4 31 4 Z M 31 6 C 40.375 6 48 13.625 48 23 C 48 27.3125 45.4375 30.757813 42.960938 34.089844 C 40.71875 37.105469 38.40625 40.210938 38.046875 43.9375 L 32 43.9375 L 32 41 C 32 40.449219 31.550781 40 31 40 C 30.449219 40 30 40.449219 30 41 L 30 43.941406 L 24.027344 43.941406 C 23.664063 40.214844 21.332031 37.101563 19.074219 34.082031 C 16.578125 30.75 14 27.308594 14 23 C 14 13.625 21.625 6 31 6 Z M 30.863281 8.996094 C 28.191406 9.019531 25.582031 9.804688 23.3125 11.296875 C 22.851563 11.597656 22.726563 12.21875 23.03125 12.679688 C 23.222656 12.972656 23.539063 13.128906 23.863281 13.128906 C 24.054688 13.128906 24.242188 13.078125 24.414063 12.964844 C 27.003906 11.261719 30.117188 10.636719 33.183594 11.199219 C 33.730469 11.296875 34.25 10.9375 34.347656 10.394531 C 34.449219 9.851563 34.089844 9.332031 33.546875 9.234375 C 32.652344 9.066406 31.757813 8.988281 30.863281 8.996094 Z M 37.859375 10.875 C 37.476563 10.820313 37.074219 10.996094 36.859375 11.347656 C 36.574219 11.824219 36.726563 12.4375 37.203125 12.722656 C 38.027344 13.222656 38.796875 13.824219 39.484375 14.515625 C 39.679688 14.710938 39.9375 14.808594 40.191406 14.808594 C 40.449219 14.808594 40.707031 14.710938 40.902344 14.515625 C 41.292969 14.125 41.292969 13.492188 40.902344 13.101563 C 40.09375 12.296875 39.199219 11.59375 38.234375 11.011719 C 38.117188 10.941406 37.988281 10.894531 37.859375 10.875 Z M 5.023438 11.511719 C 4.632813 11.519531 4.265625 11.753906 4.109375 12.136719 C 3.90625 12.648438 4.152344 13.234375 4.664063 13.4375 L 8.375 14.9375 C 8.496094 14.988281 8.621094 15.011719 8.746094 15.011719 C 9.140625 15.011719 9.519531 14.773438 9.675781 14.386719 C 9.882813 13.871094 9.632813 13.289063 9.121094 13.082031 L 5.414063 11.582031 C 5.285156 11.53125 5.152344 11.507813 5.023438 11.511719 Z M 56.976563 11.511719 C 56.847656 11.507813 56.714844 11.53125 56.585938 11.582031 L 52.878906 13.082031 C 52.367188 13.289063 52.117188 13.871094 52.324219 14.386719 C 52.480469 14.773438 52.859375 15.011719 53.253906 15.011719 C 53.378906 15.011719 53.503906 14.988281 53.625 14.9375 L 57.335938 13.4375 C 57.847656 13.234375 58.09375 12.648438 57.890625 12.136719 C 57.734375 11.753906 57.367188 11.519531 56.976563 11.511719 Z M 1 22 C 0.449219 22 0 22.449219 0 23 C 0 23.550781 0.449219 24 1 24 L 7 24 C 7.550781 24 8 23.550781 8 23 C 8 22.449219 7.550781 22 7 22 Z M 55 22 C 54.449219 22 54 22.449219 54 23 C 54 23.550781 54.449219 24 55 24 L 61 24 C 61.550781 24 62 23.550781 62 23 C 62 22.449219 61.550781 22 61 22 Z M 27 26 C 26.746094 26 26.488281 26.097656 26.292969 26.292969 C 25.902344 26.683594 25.902344 27.316406 26.292969 27.707031 L 28.292969 29.707031 C 28.488281 29.902344 28.742188 30 29 30 C 29.257813 30 29.511719 29.902344 29.707031 29.707031 C 30.097656 29.316406 30.097656 28.683594 29.707031 28.292969 L 27.707031 26.292969 C 27.511719 26.097656 27.253906 26 27 26 Z M 35 26 C 34.746094 26 34.488281 26.097656 34.292969 26.292969 L 30.292969 30.292969 C 30.105469 30.480469 30 30.734375 30 31 L 30 37 C 30 37.550781 30.449219 38 31 38 C 31.550781 38 32 37.550781 32 37 L 32 31.414063 L 35.707031 27.707031 C 36.097656 27.316406 36.097656 26.683594 35.707031 26.292969 C 35.511719 26.097656 35.253906 26 35 26 Z M 8.765625 30.988281 C 8.632813 30.988281 8.5 31.011719 8.375 31.0625 L 4.664063 32.5625 C 4.152344 32.765625 3.90625 33.351563 4.109375 33.863281 C 4.269531 34.253906 4.644531 34.488281 5.039063 34.488281 C 5.164063 34.488281 5.292969 34.464844 5.414063 34.417969 L 9.121094 32.917969 C 9.632813 32.710938 9.882813 32.128906 9.675781 31.613281 C 9.519531 31.230469 9.152344 30.996094 8.765625 30.988281 Z M 53.234375 30.992188 C 52.847656 31 52.480469 31.234375 52.324219 31.617188 C 52.117188 32.128906 52.367188 32.714844 52.878906 32.921875 L 56.585938 34.417969 C 56.707031 34.46875 56.835938 34.488281 56.960938 34.488281 C 57.355469 34.488281 57.730469 34.253906 57.890625 33.863281 C 58.09375 33.351563 57.847656 32.769531 57.335938 32.5625 L 53.625 31.0625 C 53.5 31.011719 53.367188 30.988281 53.234375 30.992188 Z M 24 46 L 38 46 L 38 47.117188 L 24 48.867188 Z M 38 49.132813 L 38 51 C 38 51.039063 37.988281 51.078125 37.988281 51.121094 L 27.832031 52.390625 C 27.285156 52.457031 26.898438 52.957031 26.96875 53.503906 C 27.03125 54.011719 27.460938 54.378906 27.957031 54.378906 C 28 54.378906 28.039063 54.378906 28.082031 54.371094 L 37.46875 53.199219 C 36.652344 54.851563 34.964844 56 33 56 L 29 56 C 26.242188 56 24 53.757813 24 51 L 24 50.882813 Z M 30 58 L 32 58 L 32 59 L 30 59 Z"/></svg><h4>Partners y programadores</h3>
            <p>Trabajamos contigo para que puedas ofrecer a tus clientes soluciones de pago a medida.</p>
        </div>
        </div>

    <br>

    <h2>Cómo funciona PwPay:</h2>

    <div class="step">
        
        <div class="num"><h4>1</h4></div>
        <p>Crea una cuenta con tu correo electrónico y una contraseña.</p>
    </div>

    <div class="step">
        
        <div class="num"><h4>2</h4></div>
        <p>Vincula de forma segura tu cuenta bancaria y/o tu tarjeta.</p>
    </div>

    <div class="step">
        
        <div class="num"><h4>3</h4></div>
        <p>Para pagar, solo necesitas tu correo electrónico y tu contraseña.</p>
    </div>

    <br>
    <br>

    <div class="final">
        <h2>Únete a los más de 277 millones de personas que pagan con PwPay en todo el mundo.</h2>

        <a href="{{ full_url_for('signup') }}" class="button">Crea ahora una cuenta gratis.</a>
    </div>

{% endblock %}

{% block footer %}
    <style>
        footer{
            background-image: url('{{ full_url_for('home') }}assets/media/image/background.jpg');"
        }
    </style>
    
	<p>Alex & Carlos © 2020</p>
{% endblock %}
